.App {
  text-align: center;
}

.imageGallery {
  max-width: 100%;
  max-height: 100%;
}

.imageDescription {
  min-width: 35%;
  max-width: 40%;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  background-color: lightsteelblue;
  opacity: 0.8;
  font-weight: bold;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
}

p {
  margin: 15px;
}

.image span {
  opacity: 0;
}

.image:hover span {
  opacity: 1;
}

.image:hover {
  transform: scale(1.1);
}

span {
  position: absolute;
  bottom: 100%;
  width: 12px;
  left: 0%;
  font-size: 12px;
}
